.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container h1 {
  font-size: 3rem;
  color: #ff0000;
  margin-bottom: 1rem;
}

.container p {
  font-size: 1.2rem;
  color: #555;
}

.not-found-message {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #888;
}

.container a {
  font-size: 1.5rem;
  color: #888;
}
